# Git ignore files
target
local.properties
.idea
*.iml
run.sh
*~
local.yml
/config
/service/config
!/service/config/sample-secrets-bundle.yml
!/service/config/sample.yml
/service/dependency-reduced-pom.xml
.java-version
.opsmanage
put.sh
deployer-staging.properties
deployer-production.properties
deployer.log
/service/src/main/resources/org/signal/badges/Badges_*.properties
!/service/src/main/resources/org/signal/badges/Badges_en.properties
/service/src/main/resources/org/signal/subscriptions/Subscriptions_*.properties
!/service/src/main/resources/org/signal/subscriptions/Subscriptions_en.properties
.project
.classpath
.settings
.DS_Store
.git
.mvn/wrapper/maven-wrapper.jar
**/*.old
**/.env*
# !**/.env.example
**/node_modules

# Docker ignore files
**/.classpath
**/.dockerignore
**/.env
**/.git
**/.gitignore
**/.project
**/.settings
**/.toolstarget
**/.vs
**/.vscode
**/*.*proj.user
**/*.dbmdl
**/*.jfm
**/bin
**/charts
**/docker-compose*
**/compose*
**/Dockerfile*
**/node_modules
**/npm-debug.log
**/obj
**/secrets.dev.yaml
**/values.dev.yaml
**/*.cmd
**/README.md
.editorconfig
.gitattributes
.github
.gitmodules
docker
