# Database name
MONGO_INITDB_DATABASE="test_db"

# Database collection names
ACCOUNTS_COL_NAME="accounts_test"
PHONE_NUMBER_COL_NAME="numbers_test"
PHONE_NUMBER_IDENTIFIER_COL_NAME="pni_assignment_test"
USERNAMES_COL_NAME="usernames_test"
USED_LINK_DEVICE_TOKENS_COL_NAME="used_link_device_tokens_test"
APPLE_DEVICE_CHECKS_COL_NAME="apple_device_checks_test"
APPLE_DEVICE_CHECK_PUBLIC_KEYS_COL_NAME="apple_device_check_public_keys_test"
BACKUPS_COL_NAME="backups_test"
CLIENT_RELEASES_COL_NAME="client_releases_test"
DELETED_ACCOUNTS_COL_NAME="deleted_accounts_test"
DELETED_ACCOUNTS_LOCK_COL_NAME="deleted_accounts_lock_test"
ISSUED_RECEIPTS_COL_NAME="issued_receipts_test"
EC_KEYS_COL_NAME="keys_test"
EC_SIGNED_PRE_KEYS_COL_NAME="repeated_use_signed_ec_pre_keys_test"
PQ_KEYS_COL_NAME="pq_keys_test"
PQ_LAST_RESORT_KEYS_COL_NAME="repeated_use_signed_kem_pre_keys_test"
MESSAGES_COL_NAME="messages_test"
ONE_TIME_DONATIONS_COL_NAME="onetime_donations_test"
PHONE_NUMBER_IDENTIFIERS_COL_NAME="pni_test"
PROFILES_COL_NAME="profiles_test"
PUSH_CHALLENGE_COL_NAME="push_challenge_test"
PUSH_NOTIFICATION_EXPERIMENT_SAMPLES_COL_NAME="Example_PushNotificationExperimentSamples"
REDEEMED_RECEIPTS_COL_NAME="redeemed_receipts_test"
REGISTRATION_RECOVERY_COL_NAME="registration_recovery_passwords_test"
REMOTE_CONFIG_COL_NAME="remote_config_test"
REPORT_MESSAGE_COL_NAME="report_messages_test"
SCHEDULED_JOBS_COL_NAME="scheduled_jobs_test"
SUBSCRIPTIONS_COL_NAME="subscriptions_test"
CLIENT_PUBLIC_KEYS_COL_NAME="client_public_keys_test"
VERIFICATION_SESSIONS_COL_NAME="verification_sessions_test"

# Database administrator credentials
MONGO_INITDB_ROOT_USERNAME="admin"
MONGO_INITDB_ROOT_PASSWORD="password"

# Database user credentials (used by the container)
MONGO_INITDB_USERNAME="user"
MONGO_INITDB_PASSWORD="pass"
