# Database name
MONGO_INITDB_DATABASE="test_db"

# Database collection names, separated by commas
MONGO_INITDB_COLLECTIONS="test_col"

# Database administrator credentials
MONGO_INITDB_ROOT_USERNAME="admin"
MONGO_INITDB_ROOT_PASSWORD="password"

# Database user credentials (used by the container)
MONGO_INITDB_USERNAME="user"
MONGO_INITDB_PASSWORD="pass"
